@charset "UTF-8";

/* Loading背景画面設定　*/
#splash {
	position: fixed;
	z-index: 999;
	width: 100%;
	height: 100%;
	background:#fff;
	text-align:center;
	color:#000;
}

/* Loadingバー中央配置　*/
#splash_text {
	position: absolute;
	top: 50%;
	left: 50%;
    z-index: 999;
	width: 100%;
	transform: translate(-50%, -50%);
	color: #000;
}

#splash_text svg{
    height: 2px;
}

/*スライド*/
#slider {
    width: 100%;
    height: 100vh;
}

@media screen and (max-width: 950px) {
	#splash {
		display: none;
	}
	#splash_text  {
		display: none;
	}
}